{
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    // disable requiring trailing commas
    "comma-dangle": 0,
    "max-len": [
      "error",
      { "code": 120, "ignoreComments": true, "ignoreUrls": true }
    ]
  }
}
