{
  "extends": "airbnb",
  "env": {
    "node":true,
    "es6": true
  },
  "rules": {
    // disable requiring trailing commas
    "comma-dangle": 0,
    "max-len": ["error", {"code": 120, "ignoreComments": true, "ignoreUrls": true}]
  }
}
