version: 2
jobs:
  build:
    docker:
      - image: circleci/node:14
        environment:
          MSSQL_USER: sa
          MSSQL_PASSWORD: mySecretPassword1
          MSSQL_HOST: localhost
          MSSQL_DB: master
          MYSQL_DATABASE: winston
          MYSQL_USER: winston
          MYSQL_PASSWORD: mysecretpassword
          MYSQL_ROOT_HOST: 127.0.0.1
          MYSQL_ROOT_PASSWORD: mysecretpassword
          PGHOST: 127.0.0.1
          PGPORT: 5432
          PGUSER: winston
          PGPASSWORD: mysecretpassword
          PGDATABASE: winston
      - image: mysql:latest
        environment:
          MYSQL_DATABASE: winston
          MYSQL_USER: winston
          MYSQL_PASSWORD: mysecretpassword
          MYSQL_ROOT_PASSWORD: mysecretpassword
      - image: microsoft/mssql-server-linux:latest
        environment:
          ACCEPT_EULA: Y
          SA_PASSWORD: mySecretPassword1
      - image: postgres:latest
        environment:
          POSTGRES_USER: winston
          POSTGRES_DB: winston
          POSTGRES_PASSWORD: mysecretpassword

    working_directory: ~/winston-sql-transport

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
      - run: npm test
